#hr-line {
	margin: 0;
}

#loginbox {
	margin-top:10em;
}

#forgot-password {
	float:right; 
	font-size: 80%; 
	position: relative; 
	top:-10px;
}

.my-title {
	color: #ff585b;
	font-size: 1.2em;
}

.form-padding-top {
	padding-top:30px;
}

.form-margin-bottom {
	margin-bottom: 25px;
}